<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptom | Portfolio</title>
</head>
<body>
    <h2>Portfolio</h2>
</body>
<p>
{{range .Valuations}}
    <div>Value: {{printf "%.2f" .Value}} {{.Currency}}</div>
{{end}}
</p>

{{range .Stakes}}
<p>
    <h4>{{.Unit}}</h4>
    <h5>{{printf "%.5f" .Amount}}</h5>
    {{range .Valuations}}
    <p>
        <div>Value: {{printf "%.2f" .Value}} {{.Currency}}</div>
        {{if .ValueUnit}}
        <div>Unit: {{printf "%.2f" .ValueUnit}} {{.Currency}}</div>
        {{end}}
    </p>
    {{end}}
</p>
{{end}}
</html>